<section class="results-index">
  <h2><%= @artist.name %></h2>
  <div>
    <div><%= simple_format(@artist.bio) %></div>
  </div>
  <div class="controls">
    <ul>
      <li><%= link_to 'Edit Artist', edit_artist_path(@artist) %> | </li>
      <li><%= link_to 'Add event', new_artist_event_path(@artist) %></li>
    </ul>
  </div>
</section>
<section class="artist-image">
  <%= image_tag @artist.image %>
  <% @artist.events.each do |event| %>
    <p><%= link_to event.date, event %></p>
  <% end %>
</section>

