<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :autofocus => true, :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirm password' %>
    <%= f.password_field :password_confirmation, :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :image, 'Profile picture' %>
    <%= f.file_field :image %>
  </div>
  <div class="form-group">
    <%= f.submit 'Sign up', :class => 'btn-form' %>
  </div>
<% end %>
