<%= form_for @event do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Event name' %>
    <%= f.text_field :title, :autofocus => true, :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_select :date, :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :headliner %>
    <%= f.text_field :headliner, :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :artist, 'Lineup' %>
    <%= f.text_field :artist, :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :venue_name %>
    <%= f.text_field :venue_name, :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country, :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.url_field :image %>
  </div>
  <div class="form-group">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
