<h1>Show single event</h1>

<ul class="event-details">
  <ul>
    <li>Date: <%= @event.date.strftime('%B %e, %Y') if @event.date %></li>
    <li>Venue: <%= @event.venue_name %></li>
    <li>Location: <%= @event.venue_location %></li>
  </ul>
</ul>

<% @event.artists.each do |artist| %>
  <p><%= artist.name %></p>
<% end %>

<% @event.reviews.each do |review| %>
  <p><%= link_to review.title, review %></p>
<% end %>

<%= link_to 'Add artist', add_artist_event_path(@event) %>
<%= link_to 'Add review', new_event_review_path(@event) %>

<%= link_to 'Edit event', edit_event_path(@event) %>

<% if @current_user.is_admin? %>
<%= link_to 'Delete event', @event, :method => 'delete', :data => {:confirm => "Are you sure?"} %>
<% end %>