<!DOCTYPE html>
<html>
  <head>
    <title>I was there</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="main-container">
      <header>
        <h1>I was there</h1>
        <nav>
          <ul>
            <%== nav_menu %>
          </ul>
        </nav>
      </header>
      <div class="content-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
